html {
  font-size: 100%;
}

header {
  margin-top: 15vh;
}

h1 {
  font: 2rem verdana;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: fit-content;
  /* justify-content: center; */
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

.bordered-button {
  border: 2px solid darkslategrey;
  background-color: white;
}

.start-button {
  width: 30vw;
  height: 7rem;
  margin: 0.2rem;

  font: 1.2rem verdana;
  background-color: white;
}

.description {
  margin-top: 1rem;
  font: 1.2rem Verdana;
  margin-bottom: 0.5rem;
}

.bordered-button:hover {
  border: 2px solid skyblue;
}

.small-text {
  font-size: 0.8rem;
}

.population-display {
  width: 14rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  box-sizing: border-box;
}

.population-display .small-text {
  margin-bottom: 0.3rem;
}

.population-number {
  font-size: 1.5rem;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-button {
  width: 12rem;
  height: 3rem;
  margin: 0.2rem;
  font: 1.2rem verdana;

}