.search-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 50vw;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

#search-button {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  outline: none;
  background-color: white;
}

#search-field {
  height: 2rem;
  margin-top: 1.5rem;
  width: 50vw;
  max-width: 25rem;
  text-align: center;
  font-size: 1.2rem;
}
